<link rel="stylesheet" href="css/header.css">
<header>
    <span>Nodejs-with-Phileo</span>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/todos">Todo App</a>
    </nav>
</header>