<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos App with Nodejs</title>
    <link rel="stylesheet" href="css/todo.css">
</head>

<body>
    <main>

        <form action="" id="task_form">
            <input type="text" name="new_task" value="" placeholder="Enter new task" required>
            <button>Add Task</button>
        </form>
        <section class="todo-list">
            <ul>
                <% todos.forEach((todo, i) =>{ %>
                <li id="<%= todo.id %>" class="<%= (todo.done) ? 'done':'' %>"><%= todo.text%> <span
                        class="close">x</span></li>
                <%})%>
            </ul>
        </section>
    </main>
</body>
<script>
    const todos = document.querySelectorAll("ul li");
    const task_form = document.getElementById('task_form');


    todos.forEach(todo => {
        todo.addEventListener('click', () => {
            finishTask(todo)
        })
    })
    console.log(task_form)
    task_form.addEventListener('submit', handleSubmit)

    function handleSubmit(event) {
        _formData = new FormData(task_form)
        _formData.set('name',"hello world");
        // for (const [name, value] of _formData) {
        //     console.log(name, value)
        // };
        // console.log(_formData)
    }

    const finishTask = (task) => {
        console.log(task.id)
    }
</script>

</html>